@font-face {
	font-family: SegoeUI; 
	src: url("font.ttf");
}

nav {
	background-color: #3880ce;
	border: 2px solid #3880cedd;
	margin: 5px;
	padding: 5px;
	color: #FFFFFF;
	font-family: SegoeUI;
}

h1{
	color: #FFFFFF;
	font-family: SegoeUI;
}

h2{
	color: #FFFFFF;
	font-family: SegoeUI;
}

p {
	font-family: SegoeUI;
	color: #FFFFFF;
}

button {
	font-family: SegoeUI;
}

button:hover {
	background-color: #999999;
	border-color: #999999;
}

footer {
	font-family: SegoeUI;
	color: #FFFFFF;
}

#container {
	border: 3px solid #3880ce;
	background-color: #3880cec4;
	margin: 10px;
	padding: 10px;
	width: auto;
	z-index: 1;
}

#heading {
	background-color: #3880ce;
	border: 2px solid #3880cedd;
	padding-left: 20px;
	margin: 5px;
}

#content1 {
	background-color: #3880ce;
	border: 2px solid #3880cedd;
	padding-left: 10px;
	padding-right: 10px; 
	margin: 5px;
}

#footer {
	background-color: #3880ce;
	border: 2px solid #3880cedd;
	margin: 5px;
	padding: 5px;
	text-align: center;

}

/* Alignment of content inside heading bar */
.inline-block-child {
	display: inline-block;
}

/* Class for the clock display on the heading bar */
.clock {
	padding-left: 425px;
	vertical-align: middle;

}

.nav {
	background-color: #4000ff;
	border-color: #4000ff;
	color: #FFFFFF;
	width: 100px;
	height: 40px;

}

.nav:hover{
	background-color: #4000cc;
	border-color: #4000cc;
	color: #FFFFFF;
}

.alert-red {
	border-radius: 10px;
	background-color: #ff5555;
	border-color: #ebccd1;;
	color: #a94442;
	margin: 5px;
	padding: 5px;
	padding-left: 20px;
}